body{
   background-image: linear-gradient(orange, black);
   background-repeat: no-repeat;
   background-size: cover;
}
nav{
  border: 5px solid orange;
  background-color:black;
}


header{
   font-family: 'Creepster', cursive;
   color: orange;
   font-size: 8em;
  text-align:center;
   background-color: black;
   border: 10px solid orange;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  display: inline;
}

footer {
  background-color: black;
  color: Orange;
}

button {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}



h1 {
  text-align: center;
  
}

.photos {
  width: 90%;
  height: 200px;
  padding: 20px
}

.photos:hover {
  width: 100%;
  height: 100%;
}